{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-color:green;">
    <div class="container">
        <h2> You have successfully registered.</h2>
        {% comment %} </br>
        <h2>Please login after you get an approval email from the academy</h2> {% endcomment %}
    </div>
</body>
</html>



