{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Chess Puzzle: {{ puzzle_data.id }}</h6>
        </div>
    
        <div class="card-body">

            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="fen"><b>FEN Notation</b></label>
                        <input type="text" class="form-control" id="fen" name="fen" value="{{ puzzle_data.fen }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="solution"><b>Solution</b></label>
                        <input type="text" class="form-control" id="solution" name="solution" value="{{ puzzle_data.solution }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="page"><b>Page</b></label>
                        <select class="form-control" id="page" name="page" required>
                            {% for page in pages %}
                                <option value="{{ page.id }}" {% if page.id == puzzle_data.page.id %} selected {% endif %}>{{ page.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                <a href="/chesspuzzle/{{ puzzle_data.id }}/" class="btn btn-danger btn-user  btn-block">
                    Cancel
                </a>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
