{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Chess Puzzle Details</h6>
            </div>
            <div class="card-body">
                <p class="card-text"><b>Puzzle ID:</b> {{ puzzle.id }}</p>
                <p class="card-text"><b>FEN:</b> {{ puzzle.fen }}</p>
                <p class="card-text"><b>Solution:</b> {{ puzzle.solution }}</p>
                <p class="card-text"><b>Page:</b> {{ puzzle.page.title }}</p>
                <div class="my-2"></div>
                <a href="/chesspuzzle/add/" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Add</span>
                </a>
                <a href="/chesspuzzle/{{ puzzle.id }}/edit/" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Edit</span>
                </a>
                <a href="/chesspuzzle/{{ puzzle.id }}/delete/" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                </a>
                <div class="my-2"></div>
                <a href="/chesspuzzles/" class="btn btn-warning btn-icon-split">
                    <span class="text">Back</span>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
