{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit Permission: {{ permission.id }}</h6>
            </div>
        
            <div class="card-body">
                <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="role"><b>Role</b></label>
                            <select class="form-control" id="role" name="role" required>
                                {% for role in roles %}
                                    <option value="{{ role.id }}" {% if role.id == permission.role_id %} selected {% endif %}>{{ role.role_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="feature"><b>Feature</b></label>
                            <select class="form-control" id="feature" name="feature" required>
                                {% for feature in features %}
                                    <option value="{{ feature.id }}" {% if feature.id == permission.feature_id %} selected {% endif %}>{{ feature.feature_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                    <a href="/permission/{{ permission.id }}/" class="btn btn-danger btn-user  btn-block">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
