{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Course: {{ course_data.id }}</h6>
        </div>
    
        <div class="card-body">

            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">     
                        <label for="course_name"><b>Course Name</b></label>     
                        <input type="text" class="form-control" id="course_name" name="course_name" placeholder="Course Name" value="{{ course_data.course_name }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="course_description"><b>Course Description</b></label>
                        <textarea class="form-control" id="course_description" name="course_description" placeholder="Course Description" required>{{ course_data.course_description }}</textarea>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                <a href="/course/{{ course_data.id }}/" class="btn btn-danger btn-user  btn-block">
                    Cancel
                </a>
                
            </form>
        </div>
    </div>
</div>

{% endblock %} 