{% extends 'base.html' %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Settings List</h1>
<p class="mb-4">List of settings</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Settings</h6>
        <div class="dropdown no-arrow show">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" style="float: right;">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 19px, 0px);"
                x-placement="bottom-end">
                <div class="dropdown-header"></div>
                <a class="dropdown-item" href="/setting/add/">Add Setting</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td><a href="{% url 'view_setting' setting.id %}">{{ setting.id }}</a></td>
                            <td>{{ setting.key }}</td>
                            <td>{{ setting.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
