{% extends 'base.html' %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Assignment Details</h6>
    </div>
    <div class="card-body">
        <p><strong>Assignment ID:</strong> {{ assignment.id }}</p>
        <p><strong>Course Name:</strong> {{ assignment.course.course_name }}</p>
        <p><strong>Assignment Name:</strong> {{ assignment.assignment_name }}</p>
        <p><strong>Description:</strong> {{ assignment.description }}</p>
        <p><strong>Due Date:</strong> {{ assignment.due_date }}</p>
        <div class="my-2">
            <a href="/assignment/add/" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Add Assignment</span>
            </a>
            <a href="/assignment/{{ assignment.id }}/edit/" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-flag"></i>
                </span>
                <span class="text">Edit</span>
            </a>
            <a href="/assignment/{{ assignment.id }}/delete/" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-trash"></i>
                </span>
                <span class="text">Delete</span>
            </a>
        </div>
        <div class="my-2">
            <a href="/assignments/" class="btn btn-warning btn-icon-split">
                <span class="text">Back</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
