{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add User Assignment</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="user"><b>User</b></label>
                        <select name="user" id="user" class="form-control" required>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="assignment"><b>Assignment</b></label>
                        <select name="assignment" id="assignment" class="form-control" required>
                            {% for assignment in assignments %}
                            <option value="{{ assignment.id }}">{{ assignment.assignment_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="submission_date"><b>Submission Date</b></label>
                        <input type="date" class="form-control" id="submission_date" name="submission_date" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="grade"><b>Grade</b></label>
                        <input type="text" class="form-control" id="grade" name="grade" placeholder="Grade" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="comments"><b>Comments</b></label>
                        <textarea class="form-control" id="comments" name="comments" placeholder="Comments" required ></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Add</button>
                <a href="{% url 'view_userassignments' %}" class="btn btn-google btn-user btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
