{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Empower Chess Game</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
</head>

<body id="page-top" onload="loadPageAndChapter({{ last_accessed_page.page.id }}, {{ last_accessed_page.page.chapter.id }})">
    <div id="wrapper">
        {% if chapters %}
            <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-chess-knight"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">{{ course_data.course_name }}</div>
                </a>
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider">
                {% for chapter in chapters %}
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ chapter.id }}" aria-expanded="false" aria-controls="collapse{{ chapter.id }}">
                            <i class="fas fa-fw fa-folder"></i>
                            <span>{{ chapter.title }}</span>
                        </a>
                        <div id="collapse{{ chapter.id }}" class="collapse" aria-labelledby="heading{{ chapter.id }}" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Pages:</h6>
                                <ul>
                                    {% if chapter.pages.all %}
                                        {% for page in chapter.pages.all %}
                                            <a class="collapse-item" href="#" onclick="loadPageAndChapter({{ page.id }}, {{ chapter.id }})">
                                                {{ page.title }}
                                                {% if page.id in completed_pages %}
                                                    <span style="color: green;">✓</span>
                                                {% endif %}
                                            </a>
                                        {% endfor %}
                                    {% else %}
                                        <p>No pages found for this chapter.</p>
                                    {% endif %}
                                </ul>
                                <div class="collapse-divider"></div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
        {% else %}
            <p>No chapters found for this course.</p>
        {% endif %}
        <div id="content-wrapper" class="d-flex flex-column">
            <nav class="user-page-activity navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- User page activity section will be updated dynamically -->
            </nav>
            <div class="container-fluid flex-grow-1">
                <div id="main-content" style="margin-bottom: 50px;"></div> <!-- Adjust the margin value according to your preference -->
            </div>
            <a class="scroll-to-top rounded" href="#page-top" style="margin-bottom: 50px;">
                <i class="fas fa-angle-up"></i>
            </a>
        
            <footer class="fixed-bottom p-1 bg-white shadow">
                <div class="row">
                    <div class="col-lg-6 col-md-6 text-left">
                        <button id="prevButton" class="btn btn-dark">Previous Page</button>
                    </div>
                    <div class="col-lg-6 col-md-6 text-right">
                        <button id="nextButton" class="btn btn-dark">Next Page</button>
                    </div>
                </div>
            </footer>
        </div>
        
    

    

   

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    
    <!-- AJAX to load page content -->
    <script>
        function loadPageAndChapter(pageId, chapterId) {
            loadChapterPages(chapterId, pageId);
        }
        function updateNextButtonStatus() {
            // Initially disable the next button
            $('#nextButton').prop('disabled', true);

            // Enable the next button after 5 seconds
            setTimeout(function() {
                $('#nextButton').prop('disabled', false);
            }, 5000); // 5-second delay (5000 milliseconds)
        }
    
        function loadPageContent(pageId) {
            $.ajax({
                url: '/learn_course_page/' + pageId + '/',
                type: 'GET',
                dataType: 'html',
                success: function(response) {
                    $('#main-content').html(response);
                    // Update user page activity after loading the page
                    renderUserPageActivity(pageId);
                    updateNextButtonStatus()
                    // Scroll to the top of the page
                    $(window).scrollTop(0);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    
        function renderUserPageActivity(pageId) {
            $.ajax({
                url: '/render_user_page_activity/' + pageId + '/',
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    // Update the user page activity section with the new data
                    $('.user-page-activity').html(response.html);
                },
                error: function(xhr, status, error) {
                    console.error('Error updating user page activity:', error);
                }
            });
        }
        function loadChapterPages(chapterId, pageId) {
            $.ajax({
                url: '/get_chapter_pages/' + chapterId + '/',
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    pagesInChapter = response.pages;
                    currentPageId = pageId; // Set currentPageId to the specified pageId
                    loadPageContent(currentPageId);
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
        var pageStartTime = new Date();

        function loadNextPage() {
            var nextPageIndex = pagesInChapter.findIndex(page => page.id === currentPageId) + 1;
            if (nextPageIndex < pagesInChapter.length) {
                var nextPageId = pagesInChapter[nextPageIndex].id;
                var currentTime = new Date();
                var timeSpent = Math.floor((currentTime - pageStartTime) / 1000); // Calculate time spent in seconds
                updatePageActivity(currentPageId, timeSpent, true); // Update both time spent and percentage completed
                currentPageId = nextPageId;
                pageStartTime = new Date(); // Update start time for the next page
                loadPageContent(currentPageId);
            } else {
                // Update the activity for the last page in the chapter
                var lastPageId = pagesInChapter[nextPageIndex - 1].id;
                var currentTime = new Date();
                var timeSpent = Math.floor((currentTime - pageStartTime) / 1000); // Calculate time spent in seconds
                updatePageActivity(lastPageId, timeSpent, true); // Update both time spent and percentage completed
        
                // Display a message indicating that all pages in the chapter have been completed
                alert("You have completed all pages in this chapter.");
                
                //$('#main-content').html("<p>You have completed all pages in this chapter. Would you like to proceed to the next chapter?</p>");

                //$('#main-content').append('<button id="proceedToNextChapterButton" class="btn btn-primary">Proceed to Next Chapter</button>');
        
                //$('#proceedToNextChapterButton').click(function() {
                //});
            }
        }
        

        function loadPrevPage() {
            var prevPageIndex = pagesInChapter.findIndex(page => page.id === currentPageId) - 1;
            if (prevPageIndex >= 0) {
                var prevPageId = pagesInChapter[prevPageIndex].id;
                var currentTime = new Date();
                var timeSpent = Math.floor((currentTime - pageStartTime) / 1000); // Calculate time spent in seconds
                updatePageActivity(currentPageId, timeSpent, false); // Update only time spent
                currentPageId = prevPageId;
                pageStartTime = new Date(); // Update start time for the previous page
                loadPageContent(currentPageId);
            }
        }
        

        function updatePageActivity(pageId, timeSpent, updatePercentageCompleted) {
            // Get CSRF token
            var csrftoken = getCookie('csrftoken');
            
            $.ajax({
                url: '/update_user_page_activity/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                data: {
                    'page_id': pageId,
                    'time_spent': timeSpent,
                    'update_percentage_completed': updatePercentageCompleted // Pass whether to update percentage completed
                },
                dataType: 'json',
                success: function(response) {
                    console.log('Page activity updated successfully.');
                },
                error: function(xhr, status, error) {
                    console.error('Error updating page activity:', error);
                }
            });
        }
        
        // Function to get CSRF cookie value
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Check if the cookie name matches with the desired cookie
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $(document).ready(function() {
            /*
            function isContentScrollable() {
                return $(document).height() > $(window).height();
            }
    
            function isScrolledToBottom() {
                return $(window).scrollTop() + $(window).height() === $(document).height();
            }
    
            function updateNextButtonStatus() {
                if (isContentScrollable() && isScrolledToBottom()) {
                    $('#nextButton').prop('disabled', false);
                } else {
                    $('#nextButton').prop('disabled', true);
                }
            }
            $(window).scroll(function() {
                updateNextButtonStatus();
            });
            */
            
            // Function to update the status of the next button after a 10-second delay
            

    
            // Attach click event handlers to next and previous buttons
            $('#nextButton').click(function() {
                loadNextPage();
            });
    
            $('#prevButton').click(function() {
                loadPrevPage();
            });
    
            
            //var chapterId = "{{ last_accessed_page.page.chapter.id }}" || "{{ chapters.0.id }}"; // Use the last accessed chapter or the first chapter if not available
            //var firstPageId = "{{ last_accessed_page.page.id }}" || "{{ chapters.0.pages.first.id }}"; // Use the last accessed page or the first page of the chapter if not available
            //loadPageAndChapter(firstPageId, chapterId)
    
            // Initial check of the next button status
            updateNextButtonStatus();
        });
    </script>
</body>

</html>
