{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add page</h6>
            </div>
            <div class="card-body">
                <form class="user" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="course"><b>Course</b></label>
                            <select name="course" id="course" class="form-control" required>
                                <option value="">Select Course</option>
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.course_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="chapter"><b>Chapter</b></label>
                            <select name="chapter" id="chapter" class="form-control" required disabled>
                                <option value="">Select Chapter</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="title"><b>Title</b></label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="content"><b>Content</b></label>
                            <input type="text" class="form-control" id="content" name="content" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="order"><b>Order</b></label>
                            <input type="number" class="form-control" id="order" name="order" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Add</button>
                    <a href="/pages/" class="btn btn-google btn-user btn-block">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('course').addEventListener('change', function () {
            var courseId = this.value;
            var chapterSelect = document.getElementById('chapter');
            chapterSelect.innerHTML = '<option value="">Select Chapter</option>';
            if (courseId) {
                fetch('/get_chapters/?course_id=' + courseId)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(chapter => {
                            var option = document.createElement('option');
                            option.value = chapter.id;
                            option.text = chapter.title;
                            chapterSelect.appendChild(option);
                        });
                        chapterSelect.disabled = false;
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                chapterSelect.disabled = true;
            }
        });
    </script>
{% endblock %}
