{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Profile: {{ user.id }}</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post">
                {% csrf_token %}
                {% if error_message %}
                    <p style="color:red;">{{ error_message }}</p>
                {% endif %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="username"><b>Username</b></label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user.user.username }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.user.email }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="role"><b>Role</b></label>
                        <select class="form-control" id="role" name="role" required>
                            {% for role in roles %}
                                <option value="{{ role.role_name }}" {% if role.role_name == user.role.role_name %} selected {% endif %}>{{ role.role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Save Changes</button>
                <a href="{% url 'view_profile' user.id %}" class="btn btn-google btn-user btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
