{% extends 'base.html' %}

{% block content %}


<div class="col-lg-7">
    <div class="p-5">
        <div class="card-body">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Confirm Delete Course {{ course_data.id }} {{ course_data.course_name }} ?</h1>
            </div>
            <form class="user" method="post">
                {% csrf_token %}
                
                <button type="submit" class="btn btn-danger btn-user btn-block">Delete</button>
                <a href="/course/{{ course_data.id }}/" class="btn btn-warning btn-user  btn-block">
                    Cancel
                </a>
            </form>
        </div>
        
      
        
    </div>
</div>

{% endblock %} 