{% extends 'base.html' %}

{% block content %}
{% load static %}

<h1 class="h3 mb-2 text-gray-800">Features</h1>
<p class="mb-4">This page displays all features.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Features List</h6>
        <div class="dropdown no-arrow show">
            <a class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true" style="float: right;">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink"
                style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, 19px, 0px);"
                x-placement="bottom-end">
                <div class="dropdown-header"></div>
                <a class="dropdown-item" href="/feature/add/">Add Feature</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Feature ID</th>
                        <th>Feature Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in features %}
                    <tr>
                        <td><a href="{% url 'view_feature' feature.id %}">{{ feature.id }}</a></td>
                        <td>{{ feature.feature_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}