{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Confirm Subscription Extension</h6>
        </div>
        <div class="card-body">
            <h1>Subscription Extension Confirmation</h1>
            <p>A subscription for the same package with an expiry date greater than or equal to today's date already exists.</p>
            <p>Do you want to extend your subscription?</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="user"><b>User</b></label>
                        <input type="text" class="form-control" name="user" value="{{ existing_subscription.user_id  }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="package"><b>Package</b></label>
                        <input type="text" class="form-control" name="package" value="{{ existing_subscription.package_id }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="payment_date"><b>Existing Expiry Date</b></label>
                        <input type="date" class="form-control" name="payment_date" value="{{ existing_subscription.expiry_date|date:'Y-m-d' }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="expiry_date"><b>New Expiry Date</b></label>
                        <input type="date" class="form-control" name="expiry_date" value="{{ new_expiry_date|date:'Y-m-d' }}" readonly>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Yes, extend subscription</button>
                {% comment %} <a href="{% url 'view_subscriptions' %}" class="btn btn-google btn-user btn-block">No, cancel</a> {% endcomment %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
