{% extends 'base.html' %}

{% block content %}
<div class="col-lg-7">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Subscription: {{ subscription.subscription_id }}</h6>
        </div>
    
        <div class="card-body">
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label for="user"><b>User</b></label>
                        <select class="form-control" id="user" name="user" required>
                            {% for user in users %}
                                <option value="{{ user.id }}" {% if user.id == subscription.user_id %} selected {% endif %}>{{ user.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="payment_date"><b>Payment Date</b></label>
                        <input type="date" class="form-control" id="payment_date" name="payment_date" value="{{ subscription.payment_date|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="expiry_date"><b>Expiry Date</b></label>
                        <input type="date" class="form-control" id="expiry_date" name="expiry_date" value="{{ subscription.expiry_date|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="package"><b>Package</b></label>
                        <select class="form-control" id="package" name="package" required>
                            {% for package in packages %}
                                <option value="{{ package.package_id }}" {% if package.package_id == subscription.package_id %} selected {% endif %}>{{ package.package_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">Save</button>
                <a href="{% url 'view_subscription' subscription.subscription_id %}" class="btn btn-danger btn-user btn-block">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
