{% extends 'base.html' %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Package Options List</h1>
<p class="mb-4">List of package options</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Package Options</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Option ID</th>
                        <th>Package</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package_option in package_options %}
                        <tr>
                            <td><a href="{% url 'view_package_option' option_id=package_option.option_id %}">{{ package_option.option_id }}</a></td>
                            <td>{{ package_option.package.package_name }}</td>
                            <td>{{ package_option.course.course_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
